
.normal_letter
{
	font-family:Verdana, Arial;
	font-size: 11px;
	color: black;
    text-align: center;
}
.grid {
	font-family: Verdana, Arial;
	font-size: 18px;
	color: black;
	text-align: center;
}

